.home-container{
    padding-top: 117px;
    padding-bottom: 150px;
    padding-left: 120px;
}

.home-title {
    width: 550px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
}

.home-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;
    padding-bottom: 48px;
}