.home-title {
     font-size: 48px;
     padding: 117px 0 0 120px;
     letter-spacing: 0.02em;
}

.text-subtitle {
    font-size: 20px;
    line-height: 36px;
    color: #5A6774;  
    padding: 24px 0;
    margin-bottom: 48px;
}