.home-btn {
    width: 101px;
    height: 40px;
    top: 595px;
    background: #1890FF;
    border-radius: 4px;
    color: #FFFFFF;

}

.btn-text {
    font-family: Roboto;
    font-size: 18px;
    line-height: 24px;
    padding-left: 18px;
    padding-right: 18px;
    display: flex;
    align-items: center;
    text-align: center;
   
}